*{
    margin: 0;
    box-sizing:border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url(./background.jpg)no-repeat;
    background-position: center;
    background-size: cover;
}
.container{
    border: 2px solid white;
    border-radius: 10px;
    max-width: 100%;
    width: 400px;
    /* background-color: white; */
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:1rem  ;
    
}
form{
    padding: 2rem;
}
.form-box{
    position: relative;
    margin-bottom: 1rem;
    padding-bottom: 1rem;  
}
h1{
    color: white;
    font-size: 20px;
    text-align: center;
} 
.inputbox label{
    display: inline-block;
    margin-top: 5px;
    color: white;
}
.inputbox input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none; 
    font-size: 1em;
    padding: 10px;
    color: white;
    border-bottom: 2px solid purple;
}
.inputbox.success input{
    border-color: green;
}
.inputbox.error input{
    border-color: red;
}
small{
    color: white;
    font-size: 1rem;
    visibility: hidden;
}
.inputbox ion-icon{
    visibility: hidden;
    float:right;
    transform: translate(10%,-150%);
    /* color: rgb(88, 243, 88); */
}
.inputbox.success ion-icon{
    visibility: visible;
    /* color: green; */
}
.inputbox.error ion-icon{
    visibility: visible;
    color: red;
} 
.inputbox.error small{
    visibility: visible;
    color: red;
}
/* .forget{
    margin: 0px 0 15px;
    font-size:16px ;
    color: white;
    display: flex;
    justify-content: center;
} */

button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: purple;
}
/*.register{
    font-size: 16px;
    color:white;
    text-align:center;
    margin:25px 0 10px;
}
.register p{
    text-decoration: none;
    color: white;
}
 */
